<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hazelhunt.passkeeper">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="com.hazelhunt.passkeeper.pincode.PincodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.hazelhunt.passkeeper.passlist.PassListActivity"/>

        <activity android:name="com.hazelhunt.passkeeper.settings.SettingsActivity"/>

    </application>

</manifest>
